@model IEnumerable<BackEnd.Web.Models.Jugador>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado Jugadores</title>
</head>
<body>
    <div>
        <h1>Listado de Jugadores</h1>
        <table>
            <tr>
                <td>
                    ID
                </td>

                <td>
                    Nombre
                </td>

                <td>
                    Apellidos
                </td>

                <td>
                    Posicion
                </td>

                <td>
                    Equipo
                </td>

                <td>
                    
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Posicion</td>
                    <td>@item.Equipo</td>
                    <td><a href="/Jugadores/Editar/@item.ID">Editar</a></td>
                    <td><a href="/Jugadores/Eliminar/@item.ID">Eliminar</a></td>
                </tr>
            }

        </table>
        <br />
        <br />
        <a href="/Jugadores/Agregar">Agregar</a>

    </div>
</body>
</html>
